@use '../global/' as g;

.p-message {
}
.p-message__inner {
  max-width: g.rem(1140);
  margin: 0 g.rem(15);
  @include g.mq("lg") {
    margin: auto;
  }
}
.p-message__content {
  padding: g.rem(18) g.rem(10) g.rem(110);
  background-color: #fff;
  box-shadow: 0 4px 20px 0 #a19f9f;
  position: relative;
  @include g.mq("lg") {
    padding: g.rem(30) g.rem(32) g.rem(41.97);
  }
  &:before {
    position: absolute;
    top: g.rem(5);
    left: g.rem(40);
    background: url(../images/index-stamp.png) no-repeat center center/cover;
    display: inline-block;
    content: "";
    z-index: 1;
    width: g.rem(112);
    height: g.rem(93);
    transform: translate(-50%, -50%);
  }
  @include g.mq("lg") {
    &::before{
      width: g.rem(288);
      height: g.rem(244);
      top: g.rem(50);
      left: g.rem(40);
    }
  }
}
.p-message__images {
  @include g.mq("lg") {
    display: flex;
  }
}
.p-message__image {
}
.p-message__body {
  margin-top: g.rem(15);
  position: relative;
  @include g.mq("lg") {
    display: flex;
    margin: g.rem(28) auto 0;
    width: 99%;
  }
}
.p-message__title {
  font-family: "Satisfy", cursive;
  font-size: g.rem(30);
  letter-spacing: 0.05em;
  margin-left: g.rem(15);
  @include g.mq("lg") {
    font-size: g.rem(48);
    width: g.rem(200);
  }
}
.p-message__text {
  font-size: g.rem(16);
  line-height: 2.5;
  background-image: linear-gradient(transparent 0, transparent 97%, #c4c4c4 100%);
  background-size: 100% 2.5em; /* 行の高さ */
  padding-top: 0;
  padding-bottom: 1px;
  @include g.mq("lg") {
    width: 56%;
    margin-left: 5%;
    margin-top: g.rem(22);
  }
}
.p-message__text-inner {
  width: 91%;
  display: inline-block;
  margin: auto;
  display: flex;
  @include g.mq('lg'){
    width: auto;
  }
}
.p-message__footer {
  position: absolute;
  font-family: "Satisfy", cursive;
  color: g.$primary-color;
  font-size: g.rem(36);
  letter-spacing: 0.05em;
  text-align: right;
  transform: rotate(-8deg);
  margin-top: g.rem(-15);
  border-bottom: 6px double g.$primary-color;
  right: g.rem(12);
  bottom: g.rem(-56);
  @include g.mq('lg'){
    right: 0;
    bottom: 0;
  }
}
