@use '../global/' as g;

.p-mv {
  background: g.$body-color;
  background-repeat: no-repeat;
  background-image: url(../images/index-mv_sp.jpg);
  margin-left: auto;
  background-size: 82%;
  background-position: right;
  height: 243px;
  @include g.mq("lg") {
    background-image: url(../images/index-mv.jpg);
    height: g.rem(650);
    background-size: 75%;
  }
}
.p-mv__inner {
  height: inherit;
  @include g.mq("lg") {
    display: flex;
    align-items: center;
    width: g.rem(1086);
  }
}
.p-mv__contents {
  padding-top: g.rem(30);
  @include g.mq("lg") {
    padding-top: g.rem(0);
    margin-top: g.rem(-20);
  }
}
.p-mv__title {
  font-family: g.$font-en;
  color: #fff;
  font-size: g.rem(36);
  line-height: 1;
  @include g.mq("lg") {
    font-size: g.rem(100);
  }
}
.p-mv__title--text {
  display: block;
  line-height: 1;
}
.p-mv__title--attention {
  color: g.$primary-color;
  line-height: 1;
  display: inline-block;
}
.p-mv__body {
  color: #fff;
  font-size: g.rem(14);
  letter-spacing: 0.04em;
  margin-top: g.rem(23);
  margin-left: g.rem(3);
  @include g.mq("lg") {
    font-size: g.rem(32);
    margin-top: g.rem(50);
    letter-spacing: 0.05em;
    margin-left: g.rem(20);
  }
}
.p-mv__text--attention {
  background-color: g.$primary-color;
  display: inline-block;
  padding: g.rem(4) g.rem(8) g.rem(4) 0;
  line-height: 1;
  margin-top: g.rem(10);
  @include g.mq('lg'){
    padding:g.rem(9) g.rem(21) g.rem(9) g.rem(0);
    margin-top: g.rem(21);
  }
}
